<div class="py-8 row">
    <div class="row">
        <a class="font-size-lg" href="{{ doc.route }}">{{ doc.name }}</a>
        <pre class="text-muted"> Name: {{ doc.student_name }} </p>
        <p class="text-muted">Roll No: {{ doc.roll_no }} </p>
        <p class="text-muted">Faculty Comments: {{ doc.faculty_comments }} </p>
        <p class="text-muted">HOD Comments: {{ doc.hod_comments }} </p>
        <p class="text-muted">Dean Comments: {{ doc.dean_comments }} </p>
        <p class="text-muted">Status: {{ doc.docstatus }} </p>
    </div>
</div>
